<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home page</title>
</head>


<body>
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>

    <div class="form-add-new">
        <fieldset>
            <legend>Form add new users</legend>
            <div class="input-group">
                <label for="">Email: </label>
                <input type="text" >
            </div>
            <div class="input-group">
                <label for="">Name: </label>
                <input type="text" >
            </div>
            <div class="input-group">
                <label for="">City: </label>
                <input type="text" >
            </div>
            <div>
                <button class="btn">Save</button>
            </div>
        </fieldset>
        
    </div>
</body>
</html>