<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home page</title>
</head>
<style>
    .table-container{
        padding: 15px 20px;
    }
    .title{
        font-size: 25px;
        font-weight: normal;
        padding-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {background-color: #ccc;}
</style>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create">Create-user</a></li>

    </ul>
    <div class="table-container">
        <%= JSON.stringify(listUsers) %>
        <div class="title">List User</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Peter</td>
                <td>Griffin</td>
                <td>$100</td>
                <td>$100</td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
            <tr>
                <td>Lois</td>
                <td>Lois</td>
                <td>Griffin</td>
                <td>$150</td>
            </tr>
            <tr>
                <td>Joe</td>
                <td>Joe</td>
                <td>Swanson</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Cleveland</td>
                <td>Brown</td>
                <td>$250</td>
                <td>$250</td>  
            </tr>
        </table>
    </div>

    
</body>
</html>