*{
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
li .active{
  background: rgba(0, 125, 0);

}


.form-add-new{
    width: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

.input-group{
    padding: 10px;
}
.btn{
    padding:10px;
    margin: 10px;
}

.d-none{
  display: none;
}